<div class="section">
  <div class="row">
    <h3><b>Best courses <span style="color: #ACBED8;">for you!</span></b></h3>
  </div>
  <div class="row">
    {% for best_course in best_courses %}
      <div class="col-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title"><b>{{ best_course['course_name'] }}</b></h5>
                    <p class="course-details">
                      Course code: {{ best_course['course_code'] }} <br>
                      Language: {{ best_course['language'] }}
                    </p>
                  <div class="card custom-crd">
                    <div class="card-body">
                        <p>More info<i class="fa-solid fa-circle-chevron-right fa-sm" style="color: #000000;"></i></p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
</div>