<div class="section">
  <div class="row">
    <h3><b>Best courses <span style="color: #ACBED8;">for you!</span></b></h3>
  </div>
  <div class="row">
    {% for best_course in best_courses %}
      <div class="col-4">
            <a href="/course/{{best_course['course_code']}}" target="_blank" class="card">
              <div class="card-body">
                <div class="course-header">
                  <h5 class="card-title"><b>{{ best_course['course_name'] }}</b></h5>
                  <div class="star-button">
                    {% include 'star_best.html' %}
                  </div>
                </div>
                <p class="course-details">
                  {% if best_course['content'] | length > 200 %}
                    {{ best_course['content'][:200] }}...
                  {% else %}
                    {{ best_course['content'] }}
                  {% endif %}
                </p>
              </div>
            </a>
      </div>
    {% endfor %}
  </div>
</div>