<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <br>
            <h8><b><span style="color: #ACBED8;">Let's view courses, </span> and give a<i class="fa-solid fa-star" style="color: #000000;"></i>to the ones you like!</b></h8>
        </div>
    </div>

        <div id="carouselExampleCaptions" class="carousel slide col-12">
            <div id="carousel_random" class="carousel slide col-12">
                <div class="carousel-indicators">
                    {% for i in range(education_recommendations['recommended_courses'] | length) %}
                        <button type="button" data-bs-target="#carousel_random" data-bs-slide-to="{{ i }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ i + 1 }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for i in range(0, education_recommendations['recommended_courses'] | length, 1) %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                            <div class="row">
                                {% for course in education_recommendations['recommended_courses'][i:i+1] %}
                                    <div class="col-12">
                                      
                                      {% include 'courseitemcar.html' %}
                                      {% include 'star.html' %}
                                     
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel_random" data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left" style="color: #986B23;"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel_random" data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right" style="color: #986B23;"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>


