<div class="section">
  <div class="row">
    <h3><b><span style="color: #ACBED8;">Compulsory</span> courses!</b></h3>
  </div>
  <div class="row">
    {% for compulsory_course in compulsory_courses %}
      <div class="col-4">
            <a href="/course/{{compulsory_course['course_code']}}" target="_blank" class="card">
              <div class="card-body">
                <div class="course-header">
                  <h5 class="card-title"><b>{{ compulsory_course['course_name'] }}</b></h5>
                  <div class="star-button">
                    {% include 'star_compulsory.html' %}
                  </div>
                </div>
                  <p class="course-details">
                    {% if compulsory_course['content'] | length > 200 %}
                      {{ compulsory_course['content'][:200] }}...
                    {% else %}
                      {{ compulsory_course['content'] }}
                    {% endif %}
                  </p>
              </div>
            </a>
      </div>
    {% endfor %}
  </div>
</div>