<form method="POST" action="/course/{{ course['course_code'] }}/{{ 'student_number'}}/clicked" id="courseForm-{{ course['course_code'] }}">
  <a href="/course/{{ course['course_code'] }}" class="card" onclick="document.getElementById('courseForm-{{ course['course_code'] }}').submit(); return false;">
      <div class="card-body">
          <div class="course-header">
              <h5 class="card-title"><b>{{ course['course_name'] }}</b></h5>
          </div>
          <p class="course-details">
              {% if course['content'] | length > 500 %}
                  {{ course['content'][:500] }}...
              {% else %}
                  {{ course['content'] }}
              {% endif %}
          </p>
          
          <input type="hidden" name="activity" value="clicked" >
      </div>
  </a>
</form>