<div class="row">
            <a href="/course/{{course['course_code']}}" target="_blank" class="card">
              <div class="card-body">
                <h5>{{ course['course_name'] }}</h5>
                <p class="course-details">Course code: {{ course['course_code'] }}</p>
                <p class="course-details">Language: {{ course['language'] }}</p>
                <div class="card custom-crd">
                    <div class="card-body">
                        <p>More info<i class="fa-solid fa-circle-chevron-right fa-sm" style="color: #000000;"></i></p>
                    </div>
                </div>
              </div>
            </a>
          </div>
          <br>