<div class="section">
    <div class="row">
        <h3><b><span style="color: #ACBED8;"> Other Courses </span> you may find interesting!</b></h3>
        <div class="row">
                  {% for recommendations_c in recommendations_courses %}
                    {% for course in recommendations_c['recommended_courses'] %}
                        <div class="col-4">
                            {% include 'courseitemedu.html' %}
                            
                        </div>
                    {% endfor %}
                  {% endfor %}
        </div>
    </div>
</div>