<div class="section">
  <div class="row">
    <h3><b><span style="color: #ACBED8;">Explore </span>more courses!</b></h3>
  </div>
  <div class="row">
    {% for explore_course in explore_courses %}
      <div class="col-4">
            <a href="/course/{{explore_course['course_code']}}" target="_blank" class="card">
              <div class="card-body">
                <div class="course-header">
                  <h5 class="card-title"><b>{{ explore_course['course_name'] }}</b></h5>
                  <div class="star-button">
                    {% include 'star_explore.html' %}
                  </div>
                </div>
                  <p class="course-details">
                    {% if explore_course['content'] | length > 200 %}
                      {{ explore_course['content'][:200] }}...
                    {% else %}
                      {{ explore_course['content'] }}
                    {% endif %}
                  </p>
              </div>
            </a>
      </div>
    {% endfor %}
  </div>
</div>