<div class="section">
  <div class="row">
      <h3><b><span style="color: #ACBED8;">Recommendations </span> based on your favorite courses!</b></h3>
        <div id="carousel_fav" class="carousel slide col-12">
            <div class="carousel-indicators">
                {% if fav_recommendations %}
                    {% for student_recommendation in fav_recommendations %}
                        {% for i in range(student_recommendation['recommended_courses']|length) %}
                            <button type="button" data-bs-target="#carousel_fav" data-bs-slide-to="{{ i }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ i + 1 }}"></button>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="carousel-inner">
                {% for student_recommendation in fav_recommendations %}
                    {% for i in range(0, student_recommendation['recommended_courses']|length, 3) %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                            <div class="row">
                                {% for course in student_recommendation['recommended_courses'][i:i+3] %}
                                    <div class="col-4">
                                      {% include 'courseitemshome.html' %}
                                      {% include 'star.html' %}
                                    </div>    
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% if fav_recommendations %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel_fav" data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left" style="color: #986B23;"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel_fav" data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right" style="color: #986B23;"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            {% else %}
                <div class="col-12">
                    <p>Save courses to receive more recommendations!</p>
                </div>
            {% endif %}
        </div>
  </div>
</div>

