<style>
  footer {
        width: 100%;
        border-top: 1px solid #ccc;
    }
</style>
  <div class="container">
    <footer class="py-5">
      <div class="row">
          
          <div class="col-2">
            <h5>Pages</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/home" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="/courses" class="nav-link p-0 text-body-secondary">Courses</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Favourites</a></li>
            </ul>
        </div>
    
          <div class="col-2">
          </div>
          
          <div class="col-4">
            <h5>About</h5>
            <p>This course catalogue is a comprehensive collection of courses offered by Tilburg University. Designed to provide (prospective) students with detailed insights into the diverse range of academic programs available. The website is developed as part of our Master's thesis in Marketing Analytics at Tilburg University.</p>
          </div>
    
          <div class="col-4">
            <form>
              <h5>Send your currently favourited courses</h5>
              <p>A list of all courses currently favourited by you.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                <button class="btn btn-primary" type="button">Send!</button>
              </div>
            </form>
          </div>
      </div>
      <br>
      <br>
        <div class="row">
          <div class='col-6'>
              <p>&copy; 2023 Company, Inc. All rights reserved.</p>
          </div>
          <div class='col-6 d-flex justify-content-end'> <!-- Added justify-content-end here -->
              <ul class="list-unstyled d-flex">
                  <li class="ms-3">
                      <a class="link-body-emphasis" href="https://github.com/KleinJonasUVT/thesis_ma">
                          <i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i>
                      </a>
                  </li>
              </ul>
          </div>
        </div>
    </footer>
</div>