<!DOCTYPE html>
<html>
<head>
  <title>Tilburg University Course Catalogue</title>
  {% include 'bootstrap.html' %}
  <style>
    body {
      margin: 50px;
    }
    
    .card-with-margin {
      margin-right: 20px;
    }
    
    a {
      text-decoration: none;
    }

    .course-details {
      margin-bottom: 0.3em;
    }

    .custom-button {
      background-color: #006094;
      color: white;
    }
  </style>
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container">
    {% include 'banner.html' %}
    <!-- Filter part -->
    <div class="row">
      <div class="col-2">
        <aside>
          <h5>Filters</h5>
          <br>
          {% for key in filters.keys() %}
            {% include 'filter.html' %}
          {% endfor %}
        </aside>
      </div>
      
      <!-- Courses part -->
      <div class="col-10">
        <main>
          <h2>Courses</h2>
          <div>
            {% for course in courses %}
              {% include 'courseitem.html' %}
            {% endfor %}
          </div>
          
          <!-- Recommended part -->
          <div class="row mt-4">
            <h2>Recommended courses</h2>
            <div class="col px-0">
              <div class="card card-with-margin">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col px-0">
              <div class="card card-with-margin">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col px-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  
  {% include 'footer.html' %}
</body>
</html>
