<div class="section">
  <div class="row">
    <h3><b><span style="color: #ACBED8;">Courses</span> based on your interests!</b></h3>
  </div>
  <div class="row">
    {% for recommendation in interests_recommendations['recommended_courses'] %}
      <div class="col-4">
              <a href="/course/{{recommendation['course_code']}}/{{student_number}}" target="_blank" class="card">
              <div class="card-body">
                <div class="course-header">
                  <h5 class="card-title"><b>{{ recommendation['course_title'] }}</b></h5>
                  <div class="star-button">
                    {% include 'star_compulsory.html' %}
                  </div>
                </div>
                  <p class="course-details">
                    {% if recommendation['course_content'] | length > 200 %}
                      {{ recommendation['course_content'][:200] }}...
                    {% else %}
                      {{ recommendation['course_content'] }}
                    {% endif %}
                  </p>
              </div>
            </a>
      </div>
    {% endfor %}
  </div>
</div>