<div class="section">
  <div class="row">
    <h3><b><span style="color: #ACBED8;">Viewed</span> Courses!</b></h3>
    {% if viewed_courses %}
      <div id="carousel_viewed" class="carousel slide col-12">
        <div class="carousel-indicators">
          {% for ourse in viewed_courses %}
            {% for i in range(viewed_courses|length) %}
              <button type="button" data-bs-target="#carousel_viewed" data-bs-slide-to="{{ i }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ i + 1 }}"></button>
            {% endfor %}
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for i in range(0, viewed_courses|length, 3) %}
            <div class="carousel-item{% if loop.first %} active{% endif %}">
              <div class="row">
                {% for course in viewed_courses[i:i+3] %}
                  <div class="col-4">
                    {% include 'courseitemcar.html' %}
                    {% include 'star.html' %}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel_viewed" data-bs-slide="prev">
          <i class="fa-solid fa-chevron-left" style="color: #986B23;"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel_viewed" data-bs-slide="next">
          <i class="fa-solid fa-chevron-right" style="color: #986B23;"></i>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    {% else %}
      <div class="col-12">
        <p>No viewed course(s) yet!</p>
      </div>
    {% endif %}
  </div>
</div>






